<div class="jumbotron center">
  <h1>Welcome to MyMovies</h1>
  <h2>The best movie sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>1. Create your album</h2>
    <p>Create your album of favourite movies and share it with other users</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
  <div class="col-lg-4">
    <h2>2. Rate and review movies</h2>
    <p>Check other users albums and put your reviews!</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>3. ChatRoom</h2>
    <p>Chat with other users realtime!</p>
    <p><a class="btn btn-primary btn-xlarge" href="#" role="button">View details »</a></p>
  </div>
</div>
